html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


body{
  display: flex;
  justify-content: center;
}

h2{
  font-size: 2rem;
}

input {
  width: 50%;
}

form{
  margin-top: 5rem;
  font-size: 4rem;
}

#display-card {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-text{
  font-size: 10rem;
}
#display{
  display: flex;
  margin: 20rem;
  flex-direction: column;
align-items: center;
}

#display-card:hover { 
  transform: scale(1.1); 
}

#skip, #start{
  margin-top: 1rem;
  border-radius: 2rem;
  font-size: 3rem;
  height: 5rem;
  width: 10rem;

}

#list{
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}

#list1, #list2{
  text-align: center;
  width: 30rem;
  height: auto;
  border-radius: 2rem;
  border-style: solid;
  background-color: lightblue;
}